#Introduction {
    text-align: center
   }

   #background {
    background-color: #8C1B11;
   }

   #bio {
    color: #D98E04 
   }

   #bio {
    text-align: center
   }

   #github {
    text-align:center
   }
